body {
   font-size: 20px;
   font-family: sans-serif;
   background-color: aliceblue;
   color: peru;
   text-align: center;
   font-family: 'Amatic SC', cursive;
}

h1 {
   font-size: 4rem;
   margin: 20px;
}

h2 {
   font-size: 1.8rem;
}

p {
   font-size: 1.4rem;
   padding: 5px;
}

img {
   width: 90%;
}

footer {
   display: flex;
   justify-content: center;
   align-content: flex-end;
   margin-bottom: 50px;
}

div {
   width:400px;
   margin: 10px;
   margin-bottom: 30px;
}

main {
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

select {
   margin: 10px;
   font-size: 1.4rem;
   padding: 3px;
   font-family: 'Amatic SC', cursive;
   font-weight: bold;
   letter-spacing: 1px;
   border-radius: 3px;
}