body {
   font-family: sans-serif;
   background-color: aliceblue;
   color: peru;
   text-align: center;
}
img {
   width: 90%;
   border: solid lightblue 1px;
}
footer {
   position: fixed;
   bottom: 0px;
   left: 0px;
}
div {
   display: flexbox;
   padding: 0px;
   width: 200px;
   float: left;
   box-sizing: border-box;
}